<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Screenshot Translation"
           Manufacturer="Screenshot Translation contributors"
           Version="1.0.2"
           UpgradeCode="B6D01339-D36B-4C22-B23A-07AFA70A53F4"
           Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Screenshot Translation is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon" SourceFile="..\src\ScreenshotTranslation.App\Assets\AppIcon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ScreenshotTranslation" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Screenshot Translation">
        <Component Id="StartMenuShortcut" Guid="*">
          <Shortcut Id="StartMenuShortcutLink"
                    Name="Screenshot Translation"
                    Target="[INSTALLFOLDER]ScreenshotTranslation.exe"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="AppIcon" />
          <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
          <RegistryValue Root="HKCU"
                         Key="Software\ScreenshotTranslation"
                         Name="Installed"
                         Type="integer"
                         Value="1"
                         KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature">
      <ComponentGroupRef Id="PublishedFiles" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="PublishedFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)**" />
    </ComponentGroup>
  </Fragment>
</Wix>
